.auth {
  padding: 0;
  margin: 0;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  text-align: center;
}

.button {
  padding: 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(172deg, var(--spectra-black), var(--nhexa-color));
  width: 260px;
  height: 40px;
  font-size: 13px;
  color: var(--nhexa-white);
  font-weight: bolder;
  font-family: Game-Of-Squids;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-duration: .4s;
}

.button:hover {
  background: linear-gradient(172deg, var(--spectra-black), var(--nhexa-color));
  scale: 1.02;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanIcon {
  width: 100%;
}

.spanText {
  text-align: left;
  width: 100%;
}